@charset 'utf-8';

:root {
	--vh: 100%;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

body {
    overflow: hidden;
}

.wrap {
    height: calc(var(--vh, 1vh) * 100);
	min-height: 100vh;
	min-height: -webkit-fill-available;
    overflow: hidden;

	// fullpage
	.fp_page_wrap {
		transition: .8s ease-in-out;

		.fp_page {
			height: calc(var(--vh, 1vh) * 100);
			overflow: hidden;
			overflow-y: auto;
			box-sizing: border-box;
			-ms-overflow-style: none;
			scrollbar-width: none;

			&::-webkit-scrollbar {
				display: none;
			}
		}

		footer.fp_page {
            height: auto !important;
		}
	}
}